.image-popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    z-index: 3;
}



@media screen and (max-width:767px) {
    .image-popup {
        margin: 122px auto auto auto;
    }
}