.popup_was-opened{
    /* display: flex;  */
    height: 100%;
    width: 100%;
}

.popup.popup_was-opened{
    animation: fade-out 2s;
    overflow: hidden;
    height: 0;
}

@keyframes fade-out {
    from {
      opacity: 1;
      overflow: visible;
    }
    to {
      opacity: 0;
      overflow: hidden;
      height: 0;
    }
  }
